<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Releases | {{todayDate}}</title>

    <style>
        .center {
            text-align: center;
        }

        .content-wrapper {
            margin: 0 auto;
            border: 1px solid rgb(177, 177, 177);
            border-radius: 12px;
            width: 90%;
            padding: 20px;
            font-family: 'Segoe UI', sans-serif;
        }

        h1 {
            font-size: 28px;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 24px;
            margin-bottom: 30px;
        }

    </style>
</head>

<body>
    <div class="content-wrapper center">
        <h1>Thanks for signing up for Weekly Releases!</h1>
        <h2>We'll send your favorite artists' new releases every Friday to {{userEmail}}.</h2>
    </div>
</body>
</html>