<h1>Thanks for using Weekly Releases!</h1>
<h2>Keep an eye out for an email from anthony@weeklyreleases.com, every Friday morning.</h2>
<p>To discontinue using the service, you must go into your Spotify account settings and remove authentication for this
    application.</p>