<div class="bg-img-container">
	<img class="bg-img-right" src="..\images\index-guy-bg.png">
</div>

<div class="index-spacing"></div>
<h1 class="index-h1">Get your weekly fix</h1>
<p class="index-message">Tired of missing out on the latest tracks from your favorite artists? Introducing <span
		class="italic">Weekly
		Releases</span> - your weekly dose of fresh music, delivered straight to your inbox every Friday.</p>

<a class="index-sign-up no-text-dec" href="/register">Sign me up →</a>