<h1>Testing Environment for Emails</h1>
<p>Push the button below to send a test email with dummy data.</p>

<!-- Have button make GET request to server, which will send email -->

<form action="http://localhost:10000/sendemail" method="GET">
    <button id="auth-button">
    <p class="button-text">
        Send Test Email
    </p>
    <div class="img-container">

    <img class="button-bg-img" src="../images/button.svg"/>
    </div>
</button>
</form>