<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekly Releases | {{metaTitle}}</title>
    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <header>
        <nav>
            <a class="nav-links" href="/">Weekly Releases</a>
            <a class="nav-links" href="/about">About</a>
            <a class="nav-links" href="/register">Sign me up →</a>
        </nav>
    </header>

    <main class="center-main-items-text">

        {{{body}}}

        <div class="footer-spacing"></div>
        <p class="special-note">This is an early version of the site; a new site design and new features are in the
            works.
        </p>
        <div class="flex-container">
            <p>This service is powered by the</p>
            <img class="spotify-logo" src="../images/Spotify_Logo_RGB_Green.png">
            <p>Web API.</p>
        </div>

    </main>

    <footer>
        <a class="nav-links" href="/privacy-policy">Privacy Policy</a>
    </footer>

    <script src="../script.js"></script>
</body>

</html>